@import "variables";
@import "normalize";


body{
	background:#efefef;
	font-family:roboto, arial, san-serif;
	font-weight:300;
	font-size:18px;
}
h1, h2, h3{
	font-weight:300;
}

h1{
	background:$black;
	padding:16px 2%;
	color:$white;
	margin-top:0;
}

.main-container{
	width:96%;
	margin:0 auto;
}

form{
	ul{
		padding:0;
		border-bottom:1px solid $black;
		li{
			background:$whiter;
			list-style-type:none;
			box-shadow:0 1px 1px $offWhite;
			padding:0.5rem;
			margin-bottom:1rem;
			.type-of-expense{
				width:90%;
				overflow: hidden;
				select{
					width:110%;
					background:$white;
					background:none;
				}
			}
			input, textarea {
				background:$white;
				border:1px solid $offWhite;
				width:90%;

			}
		}
	}
}
.select-wrapper{
	width:4em;
	overflow:hidden;
	border:1px solid $grey;
	select{
		background:none;width:5em;
		border:none;
	}
}
select{
	display:block;
}
textarea{
	resize:none;
}

.form-group.date{
	.select-wrapper{
		display:inline-block;
	}
}